.music-paper {
  position: relative;
  margin-top: 50px;

  &-line {
    height: 40px;
    border-bottom: 1px solid black;
  }

  &-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-note,
  &-whole-note {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);

    width: 50px;
    height: 34px;
    border: 3px solid black;
    border-radius: 50%;
    box-shadow: inset 0 0 3px black;
  }

  &-note {
    background-color: white;
    $notes: D, E, F, G, A, B;
    @each $note in $notes {
      $i: index($notes, $note);
      $y-coord: (-20.5px * ($i - 1));
      $x-coord: 10px + (48 * ($i - 1));
      &-#{$note} {
        transform: translate($x-coord, $y-coord);
      }
    }

    $sharp-notes: C-sharp, D-sharp, F-sharp, G-sharp, A-sharp;
    @for $i from 1 through length($sharp-notes) {
      $note-name: nth($sharp-notes, $i);
      $y-coord: (-41 * $i) + 21px;
      &-#{$note-name} {
        transform: translate(-50%, $y-coord);
      }
    }
  }

  &-whole-note-wrapper {
    position: absolute;
    bottom: -80px;
    left: 30%;
    transform: translate(-50%, -20.5px);
  }

  &-whole-note {
    position: relative;
  }

  &-whole-note:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 70px;
    border-top: 3px solid black;
  }
}